.form-container, #list-container {
    display: flex;
    justify-content: center;
  }
  
  #list-container {
    flex-direction: column;
    font-size: large;
  
  }
  
  .list-item {
    align-self: center;
    font-weight:bold;

  }

  body{
    background-image:url(https://wallpaperaccess.com/full/3957931.jpg);
    background-repeat:none;
    background-size:2550px 1400px;
    margin-top:35px;
  }
